input[type="checkbox"] {
    display: none;
  }
  
  label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #00b300;
    position: absolute;
    top: -15px;
    left: 20px;
    /* left: -5px; */
    width: 40px;
    height: 40px;
    /* text-align: center;
    line-height: 28px; */
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  /* label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  } */
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: #00b300;
    transform: scale(1);
  }
  
  /* :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  } */